@model IEnumerable<MVCReviewProject.Models.Category>

@{
    ViewBag.Title = "Hawaiian Islands";
}

<h2 class="heading">Hawaiian Islands</h2>

<p class="white">
    @Html.ActionLink("Add New", "Create")
</p>


<div class="row container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail lineup">
                <div class="caption text-center">
                    <h2>@Html.DisplayFor(modelItem => item.Island)</h2>
                    <h3>@Html.DisplayFor(modelItem => item.Nickname)</h3>
                    <h1></h1>
                    <p>@Html.DisplayFor(modelItem => item.Info)</p>
                    <p>@Html.ActionLink("Update", "Edit", new { id = item.ID }, new { role = "button", @class = "btn btn-primary" })
                       @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { role = "button", @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    }
</div>


<p class="white">
    @Html.ActionLink("Back to Top", "Index", "Categories")
</p>
