@model MVCReviewProject.Models.Review

@{
    ViewBag.Title = "Delete";
}

<h2 class="heading">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="textbox">
    <h4>Review Entry submitted on @Html.DisplayFor(model => model.SubmissionDate)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attraction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attraction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Island)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Island)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />


    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <span class="white"> @Html.ActionLink("Back to Reviews", "Index")</span>
    </div>
    }

