@model MVCReviewProject.Models.Review


@{
    ViewBag.Title = "Details";
}

<h2 class="heading">Details</h2>

<div class="singlerow">

    <hr />

    <div class="row details">
        <div class="col-sm-6 col-md-3">
            <h2>@Html.DisplayFor(model => model.Attraction)</h2>
            <h3>@Html.DisplayFor(model => model.Category.Island)</h3>
            <h5>Date Visited: @Html.DisplayFor(model => model.Date)</h5>
            <h5>Category:     @Html.DisplayFor(model => model.Nature.Type)</h5>
        </div>

        <div class="col-sm-12 col-md-9">
            <p class="headline">    
               <span class="stars"> @Html.DisplayFor(model => model.FileLocation) </span>
             <span class="italic"> "@Html.DisplayFor(model => model.Headline)" </span>
            </p>
            <p class="moveup" >By <span >@Html.DisplayFor(model => model.Author)</span> on @Html.DisplayFor(model => model.SubmissionDate)</p>
            <p class="movedown">@Html.DisplayFor(model => model.Comment)</p>
        </div>
    </div>
    <hr />

    <p>
        @Html.ActionLink("Update", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
        @Html.ActionLink("Back to Reviews", "Index")
    </p>
</div>
