@model IEnumerable<MVCReviewProject.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2 class="heading">Reviews</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h2>@Html.DisplayFor(model => item.Attraction)</h2>
                    <h3>@Html.DisplayFor(model => item.Category.Island)</h3>
                     <h1>@Html.DisplayFor(model => item.FileLocation)</h1>
                     @if (item.Price == 1) { item.FileLocation = "$"; }
                     @if (item.Price == 2) { item.FileLocation = "$$"; }
                     @if (item.Price == 3) { item.FileLocation = "$$$"; }
                     @if (item.Price == 4) { item.FileLocation = "$$$$"; }
                     @if (item.Price == 5) { item.FileLocation = "$$$$$"; }
                     <h5>@Html.DisplayFor(model => item.FileLocation)</h5>
                     <h3>"@Html.DisplayFor(model => item.Headline)"</h3>
                    <p>@Html.ActionLink("View Details", "Details", new { id = item.ID }, new { role = "button", @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>

    }
</div>
